    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 1em;
        justify-items: stretch;
        align-items: stretch;
    }

    .wrapper > div {
        /*        background: #eee;*/
        padding: 1em;
    }

    .wrapper > div:nth-child(odd) {}

    .box1 {
        /*align-self:start;*/
        background-color: #ed7b7b;
        grid-column: 1/3;
        grid-row: 1/3;

    }

    .box2 {
        /*align-self:end;*/
        background-color: #e05c5c;
        grid-column: 3;
        grid-row: 1/3;
    }

    .box3 {
        /*justify-self:end;*/
        background-color: #ff8484;
        grid-column: 2/4;
        grid-row: 3;
    }

    .box4 {
        background-color: #af4646;
        grid-column: 1;
        grid-row: 2/4;
        border: 1px solid #333;
    }

    .box5 {
        grid-column: 1/4;
        grid-row: 4;
        background-color: aqua
    }


    .box6 {
        grid-column: 2/4;
        grid-row: 5;
        background-color: #aaefbf;
    }
