<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/about.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <header>
        <div class="container">

            <img src="/media/logo.png" alt="logo" class="logo">

            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="templates/bio.html"></a>About</li>
                    <li><a href="templates/gallery.html"></a>Gallery</li>
                    <li><a href="templates/bio.html"></a>Bio</li>
                    <li><a href="templates/contact.html"></a>Contact</li>
                </ul>
            </nav>
        </div>
    </header>


    <h1>About </h1>
    <p>I am still a beginner web developer, and although I now know a lot more than when I started, it is still sometimes confusing to properly differentiate what is pseudo-element and what is pseudo-class. The problem I believe many of us still share.</p>

    <img src="/media/img/brownboots.jpg">



</body>

<footer>
    <p>© 2018<a style="color:#cf9f61; text-decoration:none;" href="#"> Class MMP 240 And Joel Singh</a>, All rights reserved 2018.</p>
</footer>

</html>
