<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/gallery.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Gallery</title>
</head>

<body>
    <!------------Navitation Bar----------->
    <header>
        <div class="container">

            <img src="/media/logo.png" alt="logo" class="logo">

            <nav>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="templates/about.html"></a>About</li>
                    <li><a href="templates/gallery.html"></a>Gallery</li>
                    <li><a href="templates/bio.html"></a>Bio</li>
                    <li><a href="templates/contact.html"></a>Contact</li>
                </ul>
            </nav>
        </div>
    </header>



    <h1 class="center">Gallery</h1>
    <p></p>

    <div class="gallery">
        <a target="_blank" href="/media/img/1.jpg">
    <img src="/media/img/1.jpg" alt="bridge" width="300" height="200">
  </a>
        <!--      <div class="desc">Add a description of the image here</div>-->
    </div>

    <div class="gallery">
        <a target="_blank" href="/media/img/2.jpg">
    <img src="/media/img/2.jpg" alt="bluesky" width="300" height="200">
  </a>

    </div>

    <div class="gallery">
        <a target="_blank" href="/media/img/3.jpg">
    <img src="/media/img/3.jpg" alt="fast car" width="300" height="200">
  </a>

    </div>

    <div class="gallery">
        <a target="_blank" href="/media/img/4.jpg">
    <img src="/media/img/4.jpg" alt="tree througt a window" width="300" height="200">
  </a>

    </div>
    <div class="gallery">
        <a target="_blank" href="/media/img/5.jpg">
    <img src="/media/img/5.jpg" alt="valley" width="300" height="200">
  </a>
        <!--      <div class="desc">Add a description of the image here</div>-->
    </div>

    <div class="gallery">
        <a target="_blank" href="/media/img/6.jpg">
    <img src="/media/img/6.jpg" alt="two doors" width="300" height="200">
  </a>

    </div>

    <div class="gallery">
        <a target="_blank" href="/media/img/7.jpg">
    <img src="/media/img/7.jpg" alt="train tracks" width="300" height="200">
  </a>

    </div>

    <div class="gallery">
        <a target="_blank" href="/media/img/8.jpg">
    <img src="/media/img/8.jpg" alt="winter" width="300" height="200">
  </a>

    </div>
    <div class="gallery">
        <a target="_blank" href="/media/img/9.jpg">
    <img src="/media/img/9.jpg" alt="pink sky" width="300" height="200">
  </a>

    </div>

    <div class="gallery">
        <a target="_blank" href="/media/img/10.jpg">
    <img src="/media/img/10.jpg" alt="travelling feet" width="300" height="200">
  </a>

    </div>

    <div class="gallery">
        <a target="_blank" href="/media/img/11.jpg">
    <img src="/media/img/11.jpg" alt="freedom tower" width="300" height="200">
  </a>

    </div>
    <div class="gallery">
        <a target="_blank" href="/media/img/12.jpg">
    <img src="/media/img/12.jpg" alt="ferry ride" width="300" height="200">
  </a>

    </div>





</body>
<!--
<footer>
    <p>© 2018<a style="color:#cf9f61; text-decoration:none;" href="#"> Class MMP 240 And Joel Singh</a>, All rights reserved 2018.</p>
</footer>
-->
</html>
